<!DOCTYPE html>
<html>
<head>
	<title>苏小龙简介</title>
</head>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel='stylesheet' href='/stylesheets/main.css' />
<body>
	<div class="bg">
		<div class="top">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid"> 
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#example-navbar-collapse">
					<span class="sr-only">切换导航</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="example-navbar-collapse">
				<ul id='li' class="nav navbar-nav">
					<li><a href="#">关于我</a></li>
					<li><a href="#">项目经验</a></li>
					<li><a href="#">技能</a></li>
					<li><a href="#">联系我</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div id='topCon' class="row hidden-xs">
		<div class='col-xs-3 col-sm-3 col-md-2 topConLeft'>
			<div class="personOut">
				<img id='person' src="../images/person.jpg" class="img-responsive" alt="">
			</div>
			<h3 style='color: white'>sxl</h3>
			<h4 class="text-left">jquery:</h4>
			<div class="progress progress-striped">
				<div class="progress-bar-success progress-bar" role="progressbar" aria-valuenow="60"
					 aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
				</div>
			</div>
			<h4 class="text-left">css:</h4>
			<div class="progress progress-striped">
				<div class="progress-bar-info progress-bar" role="progressbar" aria-valuenow="60"
					 aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
				</div>
			</div>
			<h4 class="text-left">js:</h4>
			<div class="progress progress-striped">
				<div class="progress-bar-warning progress-bar" role="progressbar" aria-valuenow="60"
					 aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
				</div>
			</div>
			<h4 class="text-left">vue:</h4>
			<div class="progress progress-striped">
				<div class="progress-bar-danger progress-bar" role="progressbar" aria-valuenow="60"
					 aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
				</div>
			</div>
			<h4 class="text-left">webpack:</h4>
			<div class="progress progress-striped">
				<div class="progress-bar-danger progress-bar" role="progressbar" aria-valuenow="60"
					 aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
				</div>
			</div>
		</div>
		<div class='col-xs-9 col-sm-9 col-md-10'>
			<div class="solid">
				<h3>职业目标:</h5>
				<h4>近3-5年了解前端前沿技术并能够学习掌握,并且了解学习后台NodeJs相关知识,努力往全栈工程师前进！</h4>
			</div>
			<div class="solid">
				<h3>教育经历:</h5>
				<h4>大学: (2012 - 2016) 乐山师范院校 专业: 物联网</h4>
				<h4>高中: (2009 - 2012) 成都中和中学 </h4>
				<h4>初中: (2006 - 2009) 成都华阳三中 </h4>
			</div>
			<div class="solid">
				<h3>个人信息:</h5>
				<h4>Phone: 13518160587</h4>
				<h4>Address: 四川省成都市</h4>
				<h4>Email: 745284215@qq.com</h4>
				<h4>github地址: <a target="__black" href="https://github.com/AjaxSir?tab=repositories">https://github.com/AjaxSir?tab=repositories</a></h4>
			</div>
		</div>
	</div>
	<div class='visible-xs xs-top'>
		<div class="personOut">
			<img id='person' src="../images/person.jpg" class="img-responsive" alt="">
		</div>
		<h3>sxl</h3>
		<h3>一个不甘平凡的年轻人!</h3>
	</div>
</div>
<div class="second">
	<h3>我的项目</h3>
	<div class="mian-second row">
		<div class="projSing col-xs-12 col-sm-4 col-md-4">
			<div class="projBottom">
				足彩项目 <br>（技术栈:vue全家桶 + vant）
			</div>
		</div>
		<div class="projSing col-xs-12 col-sm-4 col-md-4">
			<div class="projBottom">
				足彩后台管理系统 <br>（技术栈:vue全家桶 + iview）
			</div>
		</div>
		<div class="projSing col-xs-12 col-sm-6 col-md-4">
			<div class="projBottom">
				监控后台管理系统 <br>（技术栈:vue全家桶 + element）
			</div>
		</div>
		<div class="projSing col-xs-12 col-sm-6 col-md-4">
			<div class="projBottom">
				一石官网 <br>（技术栈:jq + bootstrap）
			</div>
		</div>
		<div class="projSing col-xs-12 col-sm-6 col-md-4">
			<div class="projBottom">
				abc虚拟币 <br>（技术栈:angular 1.x 仅维护）
			</div>
		</div>
		<div class="projSing col-xs-12 col-sm-6 col-md-4">
			<div class="projBottom">
				万维钱包 <br>（技术栈:typescript + layabox）
			</div>
		</div>
	</div>
</div>
	</div>

</body>
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/javascripts/main.js" type="text/javascript" charset="utf-8" async defer></script>
</html>